<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		
		<!--<add key="ConStr" value="Data Source=.;Initial Catalog=Inspection;Persist Security Info=True; User Id=sa;Password=M1h2g3f4d5; Connect Timeout=2400" />-->
		<add key="ConStr" value="Data Source=.;Initial Catalog=Inspection;Persist Security Info=True; User Id=sa;Password=Aa@135642; Connect Timeout=2400" />
		<add key="SecurityKey" value="Meysam@Admin" />
		<add key="" value="" />
	</appSettings>
</configuration>